<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  Sign up page <br/>
  <form action="http://localhost:3000/register" method="POST">
    Username: <input type="text" name="username" /> <br/>
    Password: <input type="password" name="password" /> <br/>
    Confirm Password: <input type="password" name="confirm_password" /> <br/>
    <button type="submit">Register</button>
  </form>
</body>
</html>